@{
    ViewData["Title"] = "Home Page";
}
<body>
    <style>
        body{
            background-color:darkred;
        }
        img{
            width:200px;
        }
        section{
            display:flex;
        }
        section div{
            margin-right:30px;
        }
        h1{
            color:aqua;
            text-align:center;
            font-family:'Times New Roman', Times, serif;
        }
        p{
            color:aqua;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <div class="text-center">
        <h1 class="display-4">Fork Craft</h1>
             <p>Welcome to Our Fork Craft website..</p>
     </div>
    <section>
        <div>
            <img src="~/images/fork-image.jpg" alt="" />
            <p>Fork type 1</p>
        </div>
        <div>
            <img src="~/images/img.png" alt="" />
            <p>Fork type 2</p>
        </div>        <div>
            <img src="~/images/img2.png" alt="" />
            <p>Fork type 3</p>
        </div>
    </section>
</body>
