@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-color: darkred;
    }

    h1 {
        color: aqua;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    p {
        color: aqua;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>Visit Our Website for Privacy aand Policy</p>
